.test_venv
mynah
mynah-cli
*.pem
*.db
mynah.json
tmp/*
*.log
.vagrant
__pycache__
.pyc
static/*
*tmp/*
*data/*
mynah_container_data_*/*
/python/impl/test/test_results/
.venv/
.idea/
/python/impl/test/test_data_color
/python/impl/test/test_data_small
/python/impl/test/test_data_small_
python/models/*
models/
weights/
*.zip